/* task 2 */

.form_cont, .card_character {
  max-width: 500px;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid gray;
  box-shadow: 
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
  
}

.form_input {
  width: 200px;
  height: 25px;
  margin-right: 10px;
  border-radius: 5px;
}


.name_char {
  font-size: 20px;
  font-weight: 700;
}

.button {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border-color: rgb(228, 228, 243);
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: rgb(228, 228, 243);

  font-size: 16px;
  font-weight: 700;
  color: rgb(19, 18, 18);
}

.button_char {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border-color: rgb(136, 136, 243);
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: rgb(136, 136, 243);

  font-size: 16px;
  font-weight: 700;
  color: white;
}

.film_text {
  font-size: 16px;
  font-weight: 700;
}

/* preloader */

.lds-facebook {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 248px;
  width: 16px;
  background: rgb(131, 233, 148);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 248px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 272px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 296px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}


