/* task 1 */

.card {
    max-width: 800px;
}

.country {
  font-size: 64px;
  font-weight: 700;
}

.capital {
  font-size: 40px;
  font-weight: 700;
}

.currency {
  font-weight: 700;
}

.imgFlag {
  max-width: 800px;
}


/* task 2 */

.form_cont, .card_character {
  max-width: 500px;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid gray;
  box-shadow: 
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
  
}

.form_input {
  width: 200px;
  height: 25px;
  margin-right: 10px;
  border-radius: 5px;
}


.name_char {
  font-size: 20px;
  font-weight: 700;
}

.button {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border-color: rgb(228, 228, 243);
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: rgb(228, 228, 243);

  font-size: 16px;
  font-weight: 700;
  color: rgb(19, 18, 18);
}

.button_char {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border-color: rgb(136, 136, 243);
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: rgb(136, 136, 243);

  font-size: 16px;
  font-weight: 700;
  color: white;
}

.film_text {
  font-size: 16px;
  font-weight: 700;
}

